.container {
  font-family: 'Roboto Condensed', sans-serif;
  background: url("https://www.pixeden.com/media/k2/galleries/131/001-subtle-light-pattern-background-texture.jpg");
  display: grid;
  grid-template-areas:
  "links"
  "content";
  padding: 0.5em;
  margin: 0;
}
#navbar {
  grid-area: links;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 1;
  border: 1px solid black;
  border-bottom: none;
}
#main-doc {
  grid-area: content;
  position: relative;
  top: 34vh;
}
.nav-link {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  border-bottom: 1px solid black;
}
h1 {
  text-align: center;
}
h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}
a:hover {
  color: red;
}
li {
  padding: 0.3em;
}
.main-section a {
  animation-name: colorful;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes colorful {
  0% {
    color: blue;
  }
  50% {
    color: red;
  }
  70% {
    color: red;
  }
  100%; {
    color: blue;
  }



}
/* Now time to work on some media queries */
@media (min-width: 500px) {
  .nav-link {
    padding: 0.15em;
    font-size: 1.5em;

  }
  #main-doc {
    top: 42vh;
    font-size: 18px;
    line-height: 1.2;
  }

}
@media (min-width: 600px) {
  #main-doc {
    font-size: 20px;
    line-height: 1.2;
  }

}
@media (min-width: 700px;) {
.nav-link {
  font-size: 1.7em;
  font-weight: 600;
}



}
@media (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "links content";
    grid-gap: 1em;
  }
  #navbar {
    width: 30vw;
    height: 100%;
    font-size: auto;
    background: inherit;

  }
  #main-doc {
    top: 0;
  }
  h2 {
    text-align: center;
  }


}
